# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files (never commit real secrets to public repo)
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
